:root {
    --main-bg-color: #179b77;
    --dark-bg-color: rgba(19, 35, 47, 0.9);
    --hipster-green : #05BD9D;
    --hipster-orange : #ED5C54;
    --hipster-dark:#2D3E4F;
    --bg-dark:#24313C;   
}
