
.ui.checkbox label, .ui.checkbox+label{
  color:white;
}
.ui.primary.button, .ui.primary.buttons .button {
  background-color: var(--hipster-orange);

}
.ui.primary.button:hover, .ui.primary.buttons .button:hover {
  background-color: var(--hipster-green);

}
.map-container {
  height: 400px;
  margin-left: 68%;
}
