.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.mapcontainer{

  margin-top: 30px;

}
.marker-info{

  /*background-color: red;*/
  color:white;

}
